{{ form_start(form) }}
{{ form_widget(form) }}
<button class="button is-primary is-large"> <span class="icon has-text-success"><i class="fas fa-check-circle"></i></span>
    {{ button_label|default('Save') }}</button>
{{ form_end(form) }}