{% extends 'base.html.twig' %}

{% block title %}Edit {{ contact.firstname }} {{ contact.lastname }}{% endblock %}

{% block body %}
<nav class="panel is-info">
    <p class="panel-heading">
        {{ contact.firstname }} {{ contact.lastname }}
    </p>
    <p class="panel-tabs">
        <a href="{{ path('contact_index') }}">&lt; Back</a>
        <a href="{{ path('contact_show', {'id': contact.id}) }}">View</a>
        <a href="{{ path('contact_edit', {'id': contact.id}) }}" class="is-active">Edit</a>
    </p>
    <p class="panel-block">
        {{ include('contact/_form.html.twig', {'button_label': 'Update'}) }}
    </p>
    <p class="panel-block">
    </p>
</nav>
{{ include('contact/_delete_form.html.twig') }}
{{ include('contact/_back.html.twig') }}
{% endblock %}
