{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <h1 class="title">Contact index</h1>
    <table class="table is-bordered is-striped is-hoverable">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>StreetAndNumber</th>
            <th>Zip</th>
            <th>City</th>
            <th>Country</th>
            <th>Phonenumber</th>
            <th>Email</th>
            <th>Picture</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.streetAndNumber }}</td>
                <td>{{ contact.zip }}</td>
                <td>{{ contact.city }}</td>
                <td>{{ contact.country }}</td>
                <td><a href="tel:{{ contact.phonenumber }}">{{ contact.phonenumber }}</a></td>
                <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
                <td>{% if (contact.picture) %}<i class="fas image"></i>{% endif %}</td>
                <td class="buttons are-small nowrap">
                    <div class="field has-addons">
                        <p class="control">
                            <a href="{{ path('contact_show', {'id': contact.id}) }}" class="button">show</a>
                        </p>
                        <p class="control">
                            <a href="{{ path('contact_edit', {'id': contact.id}) }}" class="button">edit</a>
                        </p>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contact_new') }}" class="button is-primary is-large"><i class="fas plus-square"></i> Create
        new</a>
{#    <a href="#" class="button is-large"><i class="fas paper-plane"></i> Generate example contacts</a>#}
{% endblock %}
