{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
<nav class="panel is-info">
    <p class="panel-heading">Create new Contact</p>
    <p class="panel-tabs">
        <a href="{{ path('contact_index') }}">&lt; Back</a>
    </p>
    <p class="panel-tabs">
    {{ include('contact/_form.html.twig') }}
    </p>
</nav>
{% endblock %}
