{% extends 'base.html.twig' %}

{% block title %}{{ contact.firstname }} {{ contact.lastname }}{% endblock %}

{% block body %}
<nav class="panel is-info">
    <p class="panel-heading">
        {{ contact.firstname }} {{ contact.lastname }}
    </p>
    <p class="panel-tabs">
        <a href="{{ path('contact_index') }}">&lt; Back</a>
        <a href="{{ path('contact_show', {'id': contact.id}) }}" class="is-active">View</a>
        <a href="{{ path('contact_edit', {'id': contact.id}) }}">Edit</a>
    </p>
    <p class="panel-block">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
            <tbody>
            <tr>
                <th>Firstname</th>
                <td>{{ contact.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ contact.lastname }}</td>
            </tr>
            <tr>
                <th>Street and number</th>
                <td>{{ contact.streetAndNumber }}</td>
            </tr>
            <tr>
                <th>Zip</th>
                <td>{{ contact.zip }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ contact.city }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ contact.country }}</td>
            </tr>
            <tr>
                <th>Phonenumber</th>
                <td><a href="tel:{{ contact.phonenumber }}">{{ contact.phonenumber }}</a></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ contact.birthday ? contact.birthday|date('Y-m-d') : '' }}</td>
            </tr>
            {% if ( contact.picture | length > 0 ) %}
                <tr>
                    <td colspan="2"><img src="/{{ dir_contact_picture }}/{{ contact.picture }}"
                             alt="{{ contact.firstname }} {{ contact.lastname }}"/></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </p>
</nav>
{{ include('contact/_delete_form.html.twig') }}
{{ include('contact/_back.html.twig') }}
{% endblock %}
