<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
{#            <link rel="stylesheet" href="{{ absolute_url(asset('build/base.css')) }}"/>#}
{#            {{ encore_entry_link_tags('bulma') }}#}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <section class="section">
        <div class="container">
        {% block body %}{% endblock %}
        </div>
    </section>
    </body>
</html>
